.styled-select {
  width: 100%;
  height: 50px;
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  background: url(./arrow.svg) no-repeat right white;
  padding-left: 20px;
  position: relative;
}

.styled-select select {
  background: transparent;
  -webkit-appearance: none;
  width: 100%;
  font-size: 15px;
  border: none;
  outline: none;
  height: 50px;
  font-size: 18px;
  color: #8c8c8c;
  font-weight: 500;
}

.styled-select select option {
  display: inline-block;
  padding: 20px;
  padding: 10px;
  font-size: 18px;
  color: #8c8c8c;
  font-weight: 500;
}
